body {
    background-color: #e9ecef !important;
}
.login-box{
    margin: 5% auto auto auto
}
.login-box button {
    margin-left: 0px;
}
.login-box a:hover {
    cursor: pointer;
}
form{
    margin-bottom: 15px;
}
